<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="login-content">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg', placeholder: 'Enter your email' %>
              <%= f.label :email, class: 'form-label' %>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-lg', placeholder: 'Enter the password' %>
              <%= f.label :password, class: 'form-label' %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                  <%= f.check_box :remember_me, class: 'form-check-input me-2', type: 'checkbox' %>
                  <%= f.label :remember_me, class: 'form-check-label' %>
                </div>
              </div>
            <% end %>

            <div class="text-center text-lg-start mt-4 pt-2">
              <%= f.submit "Log in", class: 'btn btn-primary btn-lg', style: 'padding-left: 2.5rem; padding-right: 2.5rem; padding-top: 1rem;' %>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <%= link_to "Register", new_user_registration_path, class: "link-danger" %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
