<%= form_with(model: post) do |form| %>
  <div style="padding: 10px">
    <%= form.text_field :caption, class: "form-control", placeholder: "Enter the caption" %>
    <div class="col pl-0">
      <%= form.text_field :caption, class: "form-control border-0", placeholder: "Say something about this ..." %>
    </div>
    <% if post.errors.include?(:caption) %>
      <p style="color: red">
        <%= post.errors.full_messages_for(:caption).join(" ,") %>
      </p>
    <% end %>
  </div>

  <div style="padding: 10px">
    <%= form.file_field :images, multiple:true %>
  </div>

  <div style="padding: 10px">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
