<%= form_with(model: post) do |form| %>

  <div style="padding: 10px">
    <%= form.text_field :title, class: "form-control", placeholder: "Enter the title" %>
    <% if post.errors.include?(:title) %>
      <p style="color: red">
        <%= post.errors.full_messages_for(:title).join(" ,") %>
      </p>
    <% end %>
  </div>

  <div style="padding: 10px">
    <%= form.text_field :description, class: "form-control", placeholder: "Enter the description" %>
    <% if post.errors.include?(:description) %>
      <p style="color: red">
        <%= post.errors.full_messages_for(:description).join(" ,") %>
      </p>
    <% end %>
  </div>

  <div style="padding: 10px">
    <%= form.text_field :keywords, class: "form-control", placeholder: "Enter the keywords" %>
    <% if post.errors.include?(:keywords) %>
      <p style="color: red">
        <%= post.errors.full_messages_for(:keywords).join(" ,") %>
      </p>
    <% end %>
  </div>

  <div style="padding: 10px">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
