<% if user_signed_in? %>
  <p style="color: green"><%= notice %></p>
  <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px; width: 600px">
    <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
      <div class="card" style="display: flex; flex-direction: column; align-items: center; justify-content: center; ">
        <div class="card-header">
          <h3>Create Post</h3>
        </div>
        <div class="card-body">
          <%= form_for @post, :html => {:multipart => true} do |form| %>
            <div style="padding: 10px">
              <div class="col pl-0">
                <%= form.text_field :caption, class: "form-control border-0", placeholder: "Say something about this ..." %>
              </div>
              <% if @post.errors.include?(:caption) %>
                <p style="color: red">
                  <%= @post.errors.full_messages_for(:caption).join(" ,") %>
                </p>
              <% end %>
            </div>
            <div style="padding: 10px">
              <%= form.file_field :images, multiple:true %>
            </div>
            <div style="padding: 10px">
              <%= form.submit class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>

      <div id="posts" style="display: flex; flex-direction: column; align-items: center; justify-content: center; ">
        <%= render 'posts_list' %>
      </div>
    </div>
  </div>

<% else %>
  <h1>Please log_in or sign_in to see all the posts</h1>
<% end %>
